/* You can add your own CSS in this file. 
   As this file is loaded last, you can override other CSS styles, if needed.     
*/

/* use this class to hide elements 
the space for the element will NOT be preserved
*/
.hidden {
    display: none;
}

/* use this class to make elements not visible
   the space for the element WILL be preserved
*/
.invisible {
    visibility: hidden;
}

/* use this class to make error text red */
#user_message {
    background-color: red;
}

/* 
 * My custom CSS below.
 * Author: Krisna Gusti 
 */

body {
    background-color:rgb(236, 245, 197);
    overflow-anchor: none;
}

#wrapper {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
}

#sidebar {
    text-align: center;
}

#img_animation {
    display: flex;
}

.image_container {
    flex: 30%;
}

.center_sidebar {
    position: relative;
    right: 40%;
    font-weight: bold;
    font-size: larger;
}

.button {
    border-radius: 10%;
    background: rgb(211, 196, 66);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.8);
    outline: none;  
}

/* mobile - change to 1-column layout */
@media only screen and (max-width: 516px) {
    #img_animation {
        display: inline;
    }
    .center_result {
        position: relative;
        right: 0%;
    }
}