/* You can add your own CSS in this file. 
   As this file is loaded last, you can override other CSS styles, if needed.     
*/

/* use this class to hide elements 
the space for the element will NOT be preserved
*/
.hidden {
    display: none;
}

/* use this class to make elements not visible
   the space for the element WILL be preserved
*/
.invisible {
    visibility: hidden;
}

/* use this class to make error text red */
#user_message {
    background-color: red;
}

/* My custom CSS */

body {
    background-color:rgb(236, 245, 197);
    overflow-anchor: none;
}

#wrapper {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
}

#sidebar {
    text-align: center;
}

#img_animation {
    display: flex;
}

.image_container {
    flex: 30%;
}

/* mobile - change to 1-column layout */
@media only screen and (max-width: 516px) {
    #img_animation {
        display: inline;
    }
}