/*
    CSS Styling sheet
    Author: Krisna Gusti (kgusti@myune.edu.au)
*/

/* element selectors */
body {
    background: linear-gradient(245deg, #e66465, #9198e5, #cae664, #91e5d3);
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
}

header {
    margin: 2%;
}

nav, footer {
    text-align: center;
    background-color: #89DD;
    padding: 0.5em;
}

nav li {
    display:inline;
    padding: 2%;
}

nav li a, footer a {
    color: #0f3618;
    text-decoration: none;
    transition: .5s;
}

footer {
    clear: both;
}

img {
    width: 60%;
    max-width: 25em;
    border-radius: 10%;
    border: 1em #8b8d17 solid;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 5%;
    font-style: italic;
}

strong {
    display: block;
    border-radius: 50%;
    margin: 2%;
    font-family: serif;
    font-size: 150%;
}

article p {
    margin-bottom: 2em;
}

main {
    overflow: auto;
    background-color: #ade6ad;
}

/* element classes */
.column {
    text-align: center;
}

.content-right p {
    text-align: left;
    padding: 0 15% 0 15%;
    font-size: 110%;
}

.content-right ul {
    list-style-type: disc;
    text-align: left;
    padding: 0 10% 0 20%;
    font-size: 110%;
}

.content-right blockquote {
    background-color: #1c549c;
    color: #e1e45c;
    padding: 0.5em 0 0.5em 0;
    float: right;
    width: 30%;
    max-width: 20em;
    margin: 0 9% 1em 1em;
}

.content-right blockquote p {
    font-style: italic;
    margin: 0;
    font-size: 0.75em;
}

.content-right, .content-left {
    margin: 5%;
}

/* specific elements by id */
#column-right {
    margin-left: 40%;
    width: auto;
    padding: 2%;
}

#column-left {
    float: left;
    width: 40%;
    padding-top: 5%;
}

#column-left dl {
    display: grid;
    grid-template-columns: 3.5em 100%;
}

#column-left dt, 
#column-left dd {
    padding: 1em;
}

#column-left dt {
    font-weight: bold;
    color: #10056b; 
}

#column-left dd ~ dt,
#column-left dd ~ dd {
    border-top: 0.2em solid #660707;
}

#column-left dd,
#column-left dt {
    width: 80%;
}

#contact dd{
    margin-right: 2em;
}

/* pseudo class elements */
nav li a:hover, footer a:hover {
    font-size: 150%;
    font-weight: bold;
    color: #9e0808;
}

#column-right li:nth-child(odd) {
    color: #660707;
}

#column-right li:nth-child(even) {
    color:#10056b;
}

/* when screen size is less than 600px */
@media (max-width: 600px) {
    nav li {
        padding: 1%;
    }

    #column-right {
        margin-left: 0%;
    }

    #column-left {
        width: 100%;
    }

    nav li a:hover {
        font-size: 110%;
    }
}